/* Estilos para el contenedor principal */
.horario-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el formulario */
  .horario-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Estilos para la tabla */
.horario-table {
  max-width: 700px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.horario-table h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.horario-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.horario-table th, .horario-table td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.horario-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.horario-table td {
  color: #666;
}

  
  /* Estilos para las etiquetas de los campos */
  .horario-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos para los selectores y campos de texto */
  .horario-container select,
  .horario-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilos para el checkbox */
  .horario-container input[type="checkbox"] {
    margin-left: 10px;
  }
  
  /* Pequeños ajustes para mejorar la visualización en móviles */
  @media (max-width: 600px) {
    .horario-container {
      padding: 10px;
    }
  }
  